{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add Animal
{% endblock %}


{% block current_page_animals %}
font-bold underline
{% endblock %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
<div class="w-[80%] justify-self-center ">
    <div class="flex flex-row pt-8 pb-12 gap-4 text-[--spectra-400]">
        <span class="material-symbols-outlined place-content-center"><a href="{% url 'animals:all_animals_view' %}">arrow_back</a></span>
        <h2 class="text-3xl font-semibold">Edit Animal</h2>
    </div>
    <div class="w-full justify-self-center">
        <div class="rounded-t-lg bg-[--spectra-400] text-[--bon-jour-30] font-semibold h-8 content-center justify-items-center">
            <p>Edit Animal</p>
        </div>
        <form action="{% url 'animals:edit_animal_view' animal.pk%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-col bg-[--bon-jour-20] rounded-b-lg  p-4  ">
                {% for field in form %}
                    {% if field.name == "image" and animal.image %}
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700">Current Image</label>
                            <img src="{{ animal.image.url }}" alt="Animal Image" class="mt-2 h-40 object-contain border rounded" />
                        </div>
                    {% endif %}
                    {{ field|as_crispy_field }}
                {% endfor %}            </div>

            <div class="rounded-b-lg w-full text-end">
                <input class="font-semibold bg-[--spectra-400] hover:bg-[--spectra-600] text-[--bon-jour-30] my-2 px-10 py-2 rounded-md" type="submit" value="Edit Animal" />
            </div>

        </form>
    </div>
</div>
{% endblock %}