{% extends 'main/base.html' %}

{% block title %}
All Animals
{% endblock %}


{% block current_page_animals %}
font-bold underline
{% endblock %}


{% block content %}
<div class="w-[80%] justify-self-center ">
    <div>
        <h2 class="text-3xl pt-8 pb-12 font-semibold text-[--spectra-400]">All Animals</h2>
    </div>
    <div class="flex flex-col">
        <div class="rounded-b-lg w-28 text-center font-semibold bg-[--spectra-100] hover:bg-[--spectra-70] text-[--bon-jour-20] my-2 px-4 py-2 rounded-md self-end">
            <a href="{% url 'animals:add_breed_view' %}">Add Animal</a>
        </div>

        <div class="">
            <div class="overflow-auto rounded-sm">
                <table class="w-full">
                    <thead class="bg-[--spectra-40] border-b-2 border-[--spectra-100] text-[--spectra-100]">
                        <tr>
                            <th class="w-96 p-3 text-sm font-bold traking-wide text-left">Breed Name</th>
                            <th class="w-96 p-3 text-sm font-bold traking-wide text-left">Type Name</th>
                            <th class="w-36 p-3 text-sm font-bold traking-wide text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-[--bon-jour-30]">
                        {% for breed in breeds %}
                        <tr cla class="p-3 text-sm text-gray-700 bg-[--bon-jour-20] hover:bg-[--bon-jour-30]">
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap hover:font-semibold"><a>{{ breed.name }}</a></td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap hover:font-semibold"><a>{{ breed.animal_type.name }}</a></td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap flex flex-row gap-2">
                                <a class="py-1 px-1.5 font-medium uppercase tracking-wide text-amber-800 bg-amber-400 rounded-lg bg-opacity-50" href="{% url 'animals:edit_breed_view' breed.pk%}">Edit</a>
                                <a class="py-1 px-1.5 font-medium uppercase tracking-wide text-red-800 bg-red-400 rounded-lg bg-opacity-50"href="{% url 'animals:delete_breed_view' breed.pk%}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}