{% extends 'main/base.html' %}

{% block title %}
Animals Types
{% endblock %}


{% block current_page_animals %}
font-bold underline
{% endblock %}


{% block content %}

<div class="w-[80%] justify-self-center ">
    <div>
        <h2 class="text-3xl pt-8 pb-12 font-semibold text-[--spectra-400]">Animals Types</h2>
    </div>

    <div class="flex flex-col">
        <div class="rounded-b-lg w-24 text-center text-right font-semibold bg-[--spectra-100] hover:bg-[--spectra-70] text-[--bon-jour-20] my-2 px-4 py-2 rounded-md self-end">
            <a href="{% url 'animals:add_type_view' %}">Add Type</a>
        </div>

        {% load render_table from django_tables2 %}
        {% render_table table %}

    </div>
</div>

{% endblock %}